<div class="article col-md-12">
  <div class="details">
    <div class="row">
      <div class="col-md-4">{{ article.title}}</div>
      <div class="col-md-4">{{ article.updatedAt | date: 'dd/MM/yyyy à HH:mm'}}</div>
      <div class="col-md-4">Département : {{ article.localisation}}</div>
    </div>
    <img [src]="article.img" alt="">
    <div>Description : {{ article.description }} </div>
    <div *ngFor="let user of article.user" class="row">
      <div class="col-md-6">Auteur : {{ user.name }}</div>
      <div class="col-md-6">Localisation : {{ article.localisation }}</div>
    </div>
    <div class="row">
      <div class="offset-md-4 col-md-2 edit" routerLink="../../article/edit/{{article.title}}"><i class="ico fas fa-edit"></i></div>
      <div class="col-md-2 trash" ><i class="ico far fa-trash-alt"></i></div>
    </div>
  </div>
</div>
