
img {
  width: 100px;
  display: block;
}

.form-group {
  display: block;
}

label {
  padding: 10px 10px 10px 10px;
}

.form-group{
  border-bottom: 1px green solid;
}

h1{
  border-bottom: 1px green solid;
}
